<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" parallel="methods" data-provider-thread-count="1" thread-count="2">

    <test name="Cucumber test set">
        <classes>
            <class name="testng.over.cucumber.parallelization.TestsFactory"/>
        </classes>
    </test>

</suite>

